visdrone-dataset-rgb/train/
visdrone-dataset-rgb/val/
visdrone-dataset-rgb/test-dev/

visdrone-dataset-infrared/train/
visdrone-dataset-infrared/val/
visdrone-dataset-infrared/test-dev/

rfdetr/venv/
rfdetr/train2017/
rfdetr/val2017/
rfdetr/rf-detr-nano.pth

rfdetr/logs/
rfdetr/checkpoints/

rfdetr/models/*.pth
rfdetr/videos/VisDrone2019-VID-test-dev/
rfdetr/videos/*.zip

rfdetr/temp_frame.jpg

jetson-nano/venv/
jetson-nano/*.pth
jetson-nano/example-outputs/

rfdetr/models/basic-training/*.pth