visdrone-dataset/train/
visdrone-dataset/val/
visdrone-dataset/test-dev/

rfdetr/venv/
rfdetr/train2017/
rfdetr/val2017/
rfdetr/rf-detr-nano.pth

rfdetr/logs/
rfdetr/checkpoints/

rfdetr/models/*.pth
rfdetr/videos/VisDrone2019-VID-test-dev/
rfdetr/videos/*.zip
rfdetr/videos/uav0000009_03358_v/
rfdetr/videos/uav0000105_03338_v/

rfdetr/temp_frame.jpg

jetson-nano/venv/
jetson-nano/*.pth
jetson-nano/example-images/*.jpg
jetson-nano/example-outputs/